# Dependencies
node_modules

# Build output (commented out to deploy to Vercel)
# dist
.vercel

# Environment variables
.env
.env.local

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
